$headerColor : #3b5998;
$backgroundColor : #ffff;
* {
    margin : 0;
    font-family:;
}
.header {
    display : flex;
    background-color: $headerColor;
    color: white ;
    input {
        border: 1px solid black;
        padding: 4px;
    }
}
.fb-text{
    width: 43.5rem;
    margin-left: 60%;
    margin-top: 15px;
    height: 100px;
    h1 {
        font-size: 40px;
        
    }
}
.email-input,.password-input {
    display: block;
    margin-top: 5px;
    
}
.password-box,.email-box{
    margin: 15px 0 0 15px;
    
    a{
        text-decoration: none;
        color : #86aac0;
    }
    a:hover{
        text-decoration: underline;

    }   
}
.login-btn{
    margin-top: 38px;
    margin-left: 15px;
    button{
        background-color : #526da7;
        border: 1px solid black;
        color : white;
        padding: 4px 6px;
    }
    button:hover{
        background-color : $headerColor;
        cursor: pointer;
    }
    
}

.main-body{
    display: flex;
    background :linear-gradient(white, #D3D8E8);
}
.map-box{
    margin-left: 10rem;
    margin-top: 28px;
}
.mobile-pas-box{
    input{
        width: 100%;
    }
}
.name-box{
    input{
        border-radius: 5px;
        border : 1px solid;
        border-color: #bdc7d8;
        padding: 10px;
        font-size: 15px;
        font-weight: lighter;
    }
}
.mobile-pas-box{
    display: inline;
    input{
        border-radius: 5px;
        border : 1px solid;
        border-color: #bdc7d8;
        padding: 10px;
        font-size: 15px;
        width : 410px;
        margin: 10px 0 0 0;
        font-weight: lighter;

    }
}
.gender-box{
    display: flex;
}
.buttom-div{
    margin-top: 10px;
    color: #777;
    margin-bottom: 25px;
    p{
        font-size: 12px;
    }
    a{
        text-decoration: none;
        color : #385898;
    }
    a:hover{
        text-decoration: underline;
    }
    button{
        margin: 25px 0;
        color: #fff;
        font-size: 19px;
        padding: 8px 50px;
        background: linear-gradient(#67ae55, #578843);
        border-color: #3b6e22 #3b6e22 #2c5115;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
        text-shadow: 0 1px 2px rgba(0,0,0,.5);
    }
    button:hover{
        background: linear-gradient(#78ca63, #578843);

    }
}
.account-info{
    select {
        padding: 5px;
    }
    h3{
        color: grey;
        margin-top: 12px;
        margin-bottom: 5px;
    }
    h1{
        margin: 20px 0 8px 0;
    }
    h2  {
        margin-bottom: 15px;
    }
}
.gender-box{
    padding-top: 2px;
    label {
        font-size: 18px;
        margin-left: 5px;
    }
    input{
        margin: 0;
    }
}
